body  
{  
background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
    margin: 0;  
    padding: 0;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        /* margin: auto;   */
        margin: 50px 0px 230px 400px;  
        padding: 60px 90px 60px 60px;
        background:#f1e2e217; 
        border-radius: 15px ;  
          
}  
h1{  
    text-align: center;  
    color:black;  
    margin-top: 2cm;
}  
label{  
    color: #27292b;
    font-size: 20px;  
}  

#submit{  
    width: 250px;  
    height: 35px;  
    border: none;  
    border-radius: 15px;  
    padding-left: 10px;  
    color: black; 
    background-color: green; 
    margin-left: 1cm;
  
  
}  

.copy{
    margin: 7px;
    margin-left: 3cm;
    padding: 10px;
    border-radius: 10px;
    background-color: #bdc3c7;
    font-weight: bold;
}
/* span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
} */